<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--注册接收系统开机广播消息的广播接收者-->
    <application>
        <receiver
            android:name=".BootCompleteReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DaemonService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.andforce.daemon.DaemonService" />
            </intent-filter>
        </service>
    </application>

</manifest>