html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.wrapper {
    padding: 5px;
    margin: 0 auto;
}

#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}

footer {
    text-align: center;
}

#device_app_list {
    width: 400px;
    height: 400px;
    border: 4px dashed #000;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}
#dropzone {
    width: 400px;
    height: 400px;
    border: 4px dashed #000;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}